In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use ("ggplot")

import statsmodels.api as sm
from statsmodels.graphics.api import abline_plot

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

from sklearn import linear_model, preprocessing
from sklearn.preprocessing import StandardScaler, label_binarize, LabelEncoder

import warnings
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap

Import Data

In [25]:
df = pd.read_csv("/Users/sa18/Desktop/Financial_Fraud/fin_fraud_data.csv")

Data Understanding

In [26]:
# shape of DataFrame (rows, columns)
df.shape

(6362620, 11)

In [27]:
df.head()

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

In [28]:
# list the columns
df.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [29]:
# list the data types
df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [30]:
# info and stats about data set
df.describe()

               step        amount  ...       isFraud  isFlaggedFraud
count  6.362620e+06  6.362620e+06  ...  6.362620e+06    6.362620e+06
mean   2.433972e+02  1.798619e+05  ...  1.290820e-03    2.514687e-06
std    1.423320e+02  6.038582e+05  ...  3.590480e-02    1.585775e-03
min    1.000000e+00  0.000000e+00  ...  0.000000e+00    0.000000e+00
25%    1.560000e+02  1.338957e+04  ...  0.000000e+00    0.000000e+00
50%    2.390000e+02  7.487194e+04  ...  0.000000e+00    0.000000e+00
75%    3.350000e+02  2.087215e+05  ...  0.000000e+00    0.000000e+00
max    7.430000e+02  9.244552e+07  ...  1.000000e+00    1.000000e+00

[8 rows x 8 columns]

Data Preparation

In [31]:
# check for null values
df.isna().sum()
df.head()

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

In [32]:
# check for missing values
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [33]:
#df.groupby('step')

In [34]:
#df = df.dropna()